/* Establishes sizing for the whole page */
html {
    height: 100%;
    overflow:   scroll;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
/* Header styles /////////////////////////////////////////////////////// */

/* Main Header*/
Header {
    background: #363636;
    border-bottom: solid #009ece;
    border-bottom-width: 2px;
    overflow: auto;  
}

/* container for elements in the header*/
.head_container {
    width: flex;
    margin: 0 auto;
    max-width: 1000px;
}


/* element that contains my name*/
.main_header {
    float: left;
    color: #ffffff;
    background-color: #009ece;
    text-align: center;   
}
/* headline 1 styles*/
h1 {
    color: #009ece;
    margin: 0;
    padding: 16.35px;
    padding-left: 17px;
    padding-right: 17px;
    font-family: 'Righteous', cursive;
    font-size: 30px;
    text-shadow: 4px 4px 5px black;
}

/* Tab functionality\\\\\\\\\\\\\\\\ */

/*allows me to control style when cursor overs over tabs*/
li a:hover {
    background-color: #009ece;
    color: white;
}

/*Allows me to highlight (technically hide) active tab*/
.current {
    color: white;
}

/*Allows me to add a visible divider between tabs using text */
#divider li:not(:last-child):before {
    content: "|";
    color:  #bebebe;
}

/* controls the layout for the tabs in the headline*/
ul {
    list-style-type: none;
    margin: 0 auto;    
  }

/* Lets me float the tabs to the right side*/
li {
    float: right;
    margin-bottom: 0px;
}

/* layout styles for the individual tabs */
li a {
    display: inline-block;
    background-color: #363636;
    border: none;
    text-align: center;
    padding:24px 20px;
    text-decoration: none;
    color:  #009ecea4;
    cursor: pointer; 
}

/* Body styles /////////////////////////////////////////////////////// */

/* Main Body*/
p {
    text-indent: 2.0em;
    line-height: 28px;
}
body {
    position: relative;
    min-height: 100%;
    color: white;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background: url("../images/background.png");
    background-color: #3f3f3f;
    padding: 0;
    margin: 0; 
}

/*Style for headline 2*/
h2 {
    color: white;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Righteous', cursive;
    font-size: 20px;
    text-transform: capitalize;
}

/* Style for the Body Headline*/
.body_title {
    border-bottom: solid white;
    border-bottom-width: 2px;
    margin-bottom: 20px;
    overflow: auto;
    font-size: 30px;
    text-shadow: 4px 4px 5px black;
}

/* Image headline*/
.jeff {
    float: left;
    margin: 20px;
    margin-top: 0;
    margin-bottom: 0;
    /* padding-right: 20px;
    padding-bottom: 10px; */
}

/*Content for the main Body*/
.container {
    background-color: #363636c9;
    border: solid #009ece;
    border-width: 2px;
    padding: 20px;
    padding-top: 0;
    max-width: 960px;
    overflow: auto;
    margin: 0 auto;
    margin-bottom: 40px;
}

/* formatting to allow the fields to be stacked vertically*/
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

/*applying font family and style for the message area*/
textarea {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    height: 200px;
}

/*syling for the submit button*/
#submit {
    color: #ffffff;
    background-color: #009ece;
    font-size: 16px;
    text-align: center;
    border: none;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}
/* portfolio gallery////////// */
/* Overall container for the image gallery used for layout using purposes. Accomplished using flex properties */
.port_contain {
    display: flex;
  flex-wrap: wrap;
}
/* Sets the margins/spacing between the gallery images */
.port_contain > div {
    margin: 30px;
}

/* image sizing */
img {
    width: 240px;
    
}

/* A container class for images that allows me to position descriptors appropriately */
.image_container {
    position: relative;
    text-align: center;
} 

/* Style and positioning for image description */
h3 {
    background-color: #009ece;
    color: #ffffff;
    width: 200px;
    position: absolute;
    top: 240px;
    padding: 20px;
}
h3:hover {
    background-color: #000000;
    color: #009ece;
}
.image_container:hover {
    transform: scale(1.25);
}

#linkColor {
    color: white;
}

/* Footer styles /////////////////////////////////////////////////////// */
/* Style for the footer*/
#foot {
    color: #ffffff;
    font-size: 12px;
    background-color: #363636;
    position: absolute;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    left: 0;
    right: 0;
    bottom:0;
    border-top: solid #009ece;
    border-top-width:7px;
    margin-bottom: 0;
    
}

/* Setup to fix footer to the bottom */
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;

}
/* Fun additions */
.skyline {
    position: absolute;
    left: 0;
    bottom: 65px;
    width: 15%;
}
.blu {
    position: fixed;
    right: 6px;
    top: 70px;
    width: 9%;
    image-rendering: crisp-edges;
}

.blu_footer{
    display: none;
    position: absolute;
    right: 10px;
    bottom: 12px;
    width: 70px;
    image-rendering: crisp-edges;
    
}
.skyline_footer {
    display: none;
    position: absolute;
    left: 6px;
    bottom: 0px;
    width: 90px;
    image-rendering: crisp-edges;

}

/* Media Queries */

@media screen and (max-width: 980px) {
    .container {
        max-width: 600px;
        margin: 20px;
        margin-top: 0;
    }
    .blu {
        display: none;
    }
    .skyline {
        display: none;
    }
    .blu_footer{
        display: inline;
    }
    .skyline_footer {
        display: inline;
    }
} 

@media screen and (max-width: 768px) {
    .container {
        max-width: 800px;
    
  }
}

@media screen and (max-width: 640px) {
   header {
       position: static;
   }
   .jeff {
       float: none;
       width: 100%;
       margin: 0;
       margin-bottom: 30px;
   }
   .main_header {
       float: none;
       padding-top: 40px;
       padding-bottom: 40px;
   }
   h1 {
       font-size: 35px;
       font-weight: bold;
   }
   h2 {
    font-size: 35px;
    font-weight: bold;
    }
    p {
        font-size: 20px;
    }
    a {
        font-size: 20px;
    }
    .wrapper {
        text-align: center;
    }
    li {
        display: block;
    }
    ul {
        display: inline-block;
    }
    li a {
        
        padding:18.75px 20px;
        
    }
    img {
        width: 500px;  
    }
    h3 {
        font-size: 20px;
        width: 500px;
        position: absolute;
        top: 550px;
        padding: 20px 0;
    }
} 

@media screen and (max-width: 450px) {

    .wrapper {
        text-align: center;
        padding: 0;
    }
    
    li a {
        
        padding:18.75px 10px;
    }
    img {
        width: 335px;  
        
    }
    h3 {
        font-size: 20px;
        width: 335px;
        position: absolute;
        top: 350px;
        padding: 20px 0;
        
    }  
    .port_contain > div {
        margin: 0px;
    } 
    .container {
        margin: 0;
    } 
 }
 

